:root {
  --onboarding-background-grey: rgba(45, 45, 45, 1);
  --white: rgba(255, 255, 255, 1);
  --deviders-grey: rgba(216, 216, 216, 1);
  --body-m-font-family: "Mulish-Regular", Helvetica;
  --body-m-font-weight: 400;
  --body-m-font-size: 16px;
  --body-m-letter-spacing: 0px;
  --body-m-line-height: 150%;
  --body-m-font-style: normal;
  --tile-stroke: rgba(0, 177, 255, 0.25);
}
